<div class="form-field" [class.form-field--invalid]="errors().length">
  <label class="form-field__label" [for]="forId()">
    {{ label() }}
    @if (required()) {
      <span aria-hidden="true">*</span>
    }
  </label>
  <ng-content />
  @if (errors().length) {
    <ul class="form-field__errors" [id]="forId() + '-errors'">
      @for (error of errors(); track $index) {
        <li>{{ error }}</li>
      }
    </ul>
  } @else if (hint()) {
    <p class="form-field__hint" [id]="forId() + '-hint'">{{ hint() }}</p>
  }
</div>
